<template lang="pug">
.app
  header
    h1 Check-list
  main
    TaskList(:tasks="tasks" @toggle-task="handleToggleTask" @remove-task="handleRemoveTask")
    .mb-2
    hr.divider
    .mb-2
    AddTaskForm(@add-task="handleAddTask")
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import { TaskType, TaskData, AddTaskData } from '../types/types'

import uuid from "../util/uuid"

import Task from '../component/Task.vue'
import TaskList from '../component/TaskList.vue'
import AddTaskForm from '../component/AddTaskForm.vue'

type State = {
  tasks: TaskType[]
}

export default defineComponent({
  name: 'Home',
  components: {
    Task,
    TaskList,
    AddTaskForm
  },
  data(): State {
    return {
      tasks: [
        {
          id: uuid(),
          name: "dishes",
          text: "do the dishes",
          status: "active",
        },
        {
          id: uuid(),
          name: "doggy",
          text: "walk the dog",
          status: "completed",
        }
      ]
    }
  },
  methods: {
    addTask(task: TaskType) {
      this.tasks = [...this.tasks, task];
    },
    removeTask(id: string) {
      this.tasks = this.tasks.filter((task) => task.id !== id);
    },
    setTask(id: string, data: TaskData) {
      this.tasks = this.tasks.map((task) => {
        if (task.id === id) {
          return { ...task, ...data };
        }

        return task;
      });
    },
    toggleTask(id: string) {
      this.tasks = this.tasks.map((task) => {
        if (task.id === id) {
          const status = task.status === 'active' ? 'completed' : 'active';

          return {
            ...task,
            status
          }
        }

        return task;
      });
    },

    handleToggleTask(id: string) {
      this.toggleTask(id);
    },
    handleRemoveTask(id: string) {
      this.removeTask(id);
    },
    handleAddTask(data: AddTaskData) {
      this.addTask({
        id: uuid(),
        status: 'active',
        ...data
      });
    }
  }
});
</script>

<style lang="scss" scoped>
header {
  background: #29B6F6;
  color: white;
  font-style: arial;
  padding: 16px;
}

h1 {
  margin: 0;
  font-size: 1.35em;
}

main {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.app {
  width: 800px;
  margin: auto;
  background: #F5F5F5;
}

.divider {
  border: none;
  border-top: 1px solid #E0E0E0;
  margin: 0;
}
</style>