html {
  font-family: arial;
  font-size: 16px;
}

*, *::after, *::before {
  box-sizing: border-box;
}

$spacing: 8px;

.mr-1 {
  margin-right: calc($spacing * 1);
}

.mr-2 {
  margin-right: calc($spacing * 2);
}

.mr-3 {
  margin-right: calc($spacing * 3);
}

.mb-1 {
  margin-bottom: calc($spacing * 1);
}

.mb-2 {
  margin-bottom: calc($spacing * 2);
}

.mb-3 {
  margin-bottom: calc($spacing * 3);
}

.mb-4 {
  margin-bottom: calc($spacing * 4);
}

.mb-5 {
  margin-bottom: calc($spacing * 5);
}

.w-100 {
  width: 100%;
}

.dnone {
  display: none;
}

.line-through {
  text-decoration: line-through;
}

.grow-1 {
  flex-grow: 1;
}