<template lang="pug">
form#add-task-form(@submit="handleSubmit")
  .form-group
    label(for="add-task-name") Name:
    .mr-1
    input.add-task-name#add-task-name(type="text" v-model="taskName" required)
    .mr-1
    label(for="add-task-text") Text:
    .mr-1
    input.add-task-text#add-task-text(type="text" v-model="taskText")
  button.elevated-button.elevated-button-primary(type="submit")
    SvgIcon(name="plus")
    .mr-1
    | Add Task
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import SvgIcon from './SvgIcon.vue'

type State = {
  taskName: string
  taskText: string
}

export default defineComponent({
  name: 'AddTaskForm',
  components: {
    SvgIcon
  },
  emits: ['add-task'],
  data(): State {
    return {
      taskName: '',
      taskText: '',
    }
  },
  methods: {
    handleSubmit(e: Event) {
      e.preventDefault();

      this.$emit('add-task', {
        name: this.taskName,
        text: this.taskText
      });
    }
  },
});

</script>

<style lang="scss" scoped>
.svg-icon {
  width: 24px;
  height: 24px;
  display: block;
}

#add-task-form {
  color: #828282;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#add-task-form input[type="text"] {
  color: #828282;
  font-size: 1em;
}

.add-task-name, .add-task-text {
  width: 120px;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.elevated-button {
  font-size: 1em;
  font-family: arial;
  color: white;
  border: none;
  outline: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  border-radius: 4px;

  transition: box-shadow, 0.1s linear;

  cursor: pointer;
}

.elevated-button:focus {
  box-shadow: 0 0 8px 2px rgba(0,0,0,0.2);
}

.elevated-button:hover {
  background: #039BE5;
}

.elevated-button-primary {
  background: #29B6F6;
}
</style>