<template lang="pug">
.tasks
  Task(
    v-for="(task, i) in tasks"
    :key="task.id"
    :id="task.id" :name="task.name"
    :text="task.text" :status="task.status"
    @toggle-task="handleToggleTask"
    @remove-task="handleRemoveTask"
    :class="{ 'task-even': i % 2 === 0, 'task-odd': i % 2 !== 0 }"
  )
</template>

<script lang="ts">
import { defineComponent } from "vue"

import Task from './Task.vue'

export default defineComponent({
  name: 'TaskList',
  components: {
    Task
  },
  props: {
    tasks: {
      type: Array,
      required: true,
    }
  },
  emits: ["toggle-task", "remove-task"],
  methods: {
    handleToggleTask(id: string) {
      this.$emit('toggle-task', id);
    },
    handleRemoveTask(id: string) {
      this.$emit('remove-task', id);
    },
  }
});
</script>

<style lang="scss" scoped>
.task-even {
  background: white;
}

.task-odd {
  background: #E9E9E9;
}
</style>