<template lang="pug">
.task(
  :class="{ 'task-completed': status === 'completed' }"
  @click.prevent="$emit('toggle-task', id)"
  @keyup.enter="$emit('toggle-task', id)"
  tabindex="0"
)
  .task-leading
    .svg-icon-blank(v-if="status === 'active'")
    SvgIcon(v-if="status === 'completed'" name="tick")
    .mr-1
    .task-name {{name}}
    .mr-1
    .task-text {{text}}
  .task-trailing
    .task-actions
      button.task-action.task-action-remove(
        type="button"
        @click.stop="$emit('remove-task', id)"
      )
        SvgIcon(name="trash-fs")
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import SvgIcon from './SvgIcon.vue'

export default defineComponent({
  name: 'Task',
  components: {
    SvgIcon
  },
  props: {
    id: {
      type: String,
      required: true
    },
    name: {
      type: String,
      required: true
    },
    text: {
      type: String,
      required: true
    },
    status: {
      type: String,
      default: 'active'
    }
  },
  emits: ["toggle-task", "remove-task"],
});
</script>

<style lang="scss" scoped>
.svg-icon {
  width: 20px;
  height: 20px;
  display: block;
}

.svg-icon-blank {
  width: 20px;
  height: 20px;
  display: block;
}

.task {
  outline: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 16px;
  color: #828282;
  align-items: center;
  cursor: pointer;

  position: relative;

  transition: box-shadow, 0.1s ease-in;
}


.task:focus {
  z-index: 1;
  box-shadow: 0 0 8px 2px rgba(0,0,0,0.2);
}

.task-name {
  width: 65px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-text {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task-completed .task-name, .task-completed .task-text {
  color: #727272;
  text-decoration: line-through;
}

.task-actions {
  display: flex;
  flex-direction: row;
}

.task-action {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 16px;
  color: #727272;

  position: relative;
  z-index: 1;

  transition: box-shadow, 0.1s ease-in;
}

.task-action:focus {
  box-shadow: 0 0 4px 2px rgba(0,0,0,0.2);
}

.task-action-remove {
  transition: background-color, 0.05s ease-in;
}

.task-action-remove:hover {
  transition: background-color, 0.2s linear;
  background: #EF5350;
}

.task-leading, .task-trailing {
  display: flex;
  flex-direction: row;
  align-items: center;
}
</style>